<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>PeerTransfer Booking Process</title>
    <meta content='width=device-width' name='viewport' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    <link href='/css/style.css' rel='stylesheet' />
</head>
<body>
<header class='clearfix'>
    <div class='width'>
        <h1 class='left'>
            <a href='/'>PeerTransfer Booking Process</a>
        </h1>
    </div>
</header>
<div class='clearfix width' id='main' role='main'>
    <h2> Thanks for booking a payment with Peertransfer, your payment will be processed shortly.</h2>
</div>
<footer class='clearfix'>
    <div class='width'>
        PeerTransfer Booking Process
    </div>
</footer>
</body>
</html>
